/serverImagen/target/
/ClientImagen/target/
/ProyectoVAX/target/
/blas/target/

/serverZipUpload/target/
/serverImageUser/target/
/serverZipDownload/target/
/SERVERS/serverZipUpload/target/
/SERVERS/serverZipDownload/target/
