/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 dic 2023, 19:35:15
    Author     : Ramiro
*/

.button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-radius: 50;
    -fx-border-width: 2;
    -fx-background-radius : 50;
    -fx-border-color: white;
    -fx-font-size: 18px;
    /*    Sombra boton*/
    /*    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 5, 5);*/
}
.button:hover{
    -fx-text-fill: #db3c21;
    -fx-border-color: #db3c21;
}

.button.download{
    -fx-background-color: transparent;
    -fx-text-fill: #15b218;
    -fx-border-radius: 50;
    -fx-border-width: 2;
    -fx-background-radius : 50;
    -fx-border-color: #15b218;
    -fx-font-size: 18px;
}

.button.download:hover{
    -fx-text-fill: #db3c21;
    -fx-border-color: #db3c21;
}

.labels{
    -fx-text-fill: #11598a;
}

.titulo{
    -fx-font-style: italic;
    -fx-font-size: 28px;
    -fx-text-fill: #11598a;
}


#VBoxPrin{
    -fx-background-color: linear-gradient(to bottom,#060b36,  #11598a);
}

#BackGround{
    -fx-background-image: url("../com/cafeconpalito/proyectovax/images/fondoBonito.jpg");
    -fx-background-position:center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

#BackGroundForm{
    -fx-background-color: linear-gradient(to bottom, #cedef5, white );
    -fx-background-radius : 10;
}

#ButtonRegister{
    -fx-background-color: transparent;
    -fx-text-fill: #11598a;
    -fx-border-radius: 50;
    -fx-border-width: 2;
    -fx-background-radius : 50;
    -fx-border-color: #11598a;
    -fx-font-size: 18px;
    /*    Sombra boton*/
    /*    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 5, 5);*/
}
#ButtonRegister:hover{
    -fx-text-fill: #db3c21;
    -fx-border-color: #db3c21;
}

#selectImgBtn{
    -fx-background-color: transparent;
    -fx-text-fill: #11598a;
    -fx-border-radius: 50;
    -fx-border-width: 2;
    -fx-background-radius : 50;
    -fx-border-color: #11598a;
    -fx-font-size: 18px;
}