/* 
    Created on : 6 dic 2023, 20:35:27
    Author     : TerciodeMarte
*/
#BackGround{
    -fx-background-image: url("../com/cafeconpalito/proyectovax/images/fondoBonito.jpg");
    -fx-background-position:center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.button.allGamesBtn{
    -fx-background-color: transparent;
    -fx-text-fill: #15b218;
    -fx-border-radius: 50;
    -fx-border-width: 2;
    -fx-background-radius : 50;
    -fx-border-color: #15b218;
    -fx-font-size: 18px;
}
.button:hover{
    -fx-text-fill: #db3c21;
    -fx-border-color: #db3c21;
}

#WhiteBackGround{
    -fx-background-color: linear-gradient(to bottom, #cedef5, white);
}

.filter{
    -fx-background-color: #060b36;
    -fx-background-radius : 50;
    -fx-text-fill: white;
}

.textfield{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.labels{
    -fx-text-fill: #11598a;
}